[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/ExclusiveDelegateResolver"]
	path = contracts/lib/ExclusiveDelegateResolver
	url = https://github.com/yuga-labs/ExclusiveDelegateResolver
